<!DOCTYPE html>
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Full - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/full.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/index.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
</head>

<body style="background:none;">
    <div class="questions">
        <div class="question-text"> How many days do you want to travel?</div>
        <div class="select-style">
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <div class="locations">
            <div class="boxes">
                <div class="row">
                    <div class="span2">
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList1" value="option1"> Option one
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList2" value="option2"> Option two
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Option three
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Option three
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Option three
                        </label>
                    </div>
                    <div class="span2">
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList1" value="option1"> Option one
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList2" value="option2"> Option two
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Option three
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Option three
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Option three
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="submit btn btn-primary pmt">Plan my trip!</button>
    </div>

</body>

</html>