<!DOCTYPE html>
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Full - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/full.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/index.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
</head>

<body>
    <div class="questions">
        <div class="header-info">Fill out some information to help us plan your vacation.</div>
        <div class="question-text"> How many days do you want to travel?</div>
        <div class="select-style" style="align-content: center;">
            <select>
                <option value="1">1 Day</option>
                <option value="2">2 Days</option>
                <option value="3">3 Days</option>
                <option value="4">4 Days</option>
                <option value="5">5 Days</option>
                <option value="6">6 Days</option>
                <option value="7">7 Days</option>
                <option value="8">8 Days</option>
                <option value="9">9 Days</option>
                <option value="10">10 Days</option>
            </select>
        </div>
        <div class="question-text"> Check all the locations that you want to visit!</div>

        <div class="locations">
          <div class="boxes">
                <div class="row">
                    <div class="span2">
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList1" value="option1"> The Metropolitan Museum of Art
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList2" value="option2"> Statue of Liberty National Monument
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Central Park
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Empire State Building
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> American Museum of Natural History
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> 9/11 Memorial
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Museum of Modern Art
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Battery Park
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> The High Line
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> City Sightseeing New York
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Wall Street
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Intrepid Sea, Air and Space Museum
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> St. Patrick's Cathedral
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Top of The Rock
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3"> Chrysler Building
                        </label>
                    </div>

                </div>
        </div>
            <th>
                <a href="schedule.html" id="calculate">
                    <button type="submit" class="submit btn btn-primary">Plan My Vacation
                    </button>
                </a>
            </th>
    </div>
</body>

<script>
var json = [
["London",12],["Paris",13],["Shenzhen",7]
];

$.each(json, function () {
        $("#checkboxes").append($("<label>").text(this[0]).prepend(
            $("<input>").attr('type','checkbox').val(this.id)
                .prop('checked',this.checked)
                ));
    });

    $("#checkboxes").on('change','[type=checkbox]', function() {
        console.log($(this).val());
    })
</script>

</html>
